@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  overflow: visible;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: hsl(0, 0%, 95%);
  position: relative;
}

h2 {
  font-size: 1.6rem;
}

svg {
  cursor: pointer;
}

/* home */
.homehome {
  margin-top: 20vh;
  position: relative;
}

.promocion {
  display: flex;
  position: absolute;
  top: -16vh;
  transition: 0.7s;
  background-color: #b4b4b3;
}

.promocion div {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.centered {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.centered h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.vertical {
  padding: 4rem;
  border: 1px solid #ccc;
  flex-direction: column;
}

.vertical span {
  font-size: 2rem;
}

.contImg {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 4rem;
}

.contImg figure {
  overflow: hidden;
  border-radius: 11px;
}

.contImg img {
  width: 100%;
  height: 100%;
}

/* home */

.home {
  display: flex;
  width: 100%;
  transition: 0.5s;
  margin-bottom: 20vh;
}

.home.open {
  width: 60%;
}

/*///////////////////////////////////////////////////////////// header /////////////////////////////////////////////////////////////////*/

.header {
  width: 100vw;
  background-color: #fff1e1;
  z-index: 100;
  transition: top 1s;
}

.header.open {
  position: sticky;
  top: 0;
  left: 0;
}

.title {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
}

.title h1 {
  font-size: 2vw;
}

.search {
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 27vw;
  background-color: #eadbc8;
  height: 2.7vh;
  border-radius: 35px;
  padding: 13px;
}

.search:hover {
  border: 2px solid #272829;
  transition: 0.2s;
}

.search input {
  width: 23vw;
  height: 4vh;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 6px;
}

.search input:focus {
  outline: none;
}

.iconShop {
  display: flex;
  position: relative;
  width: 7vw;
  justify-content: flex-end;
}

.itemAmount {
  position: absolute;
  right: -1.5vw;
  top: -2.4vh;
  background-color: rgb(228, 88, 88);
  border-radius: 20px;
  width: 34px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.super {
  vertical-align: text-top;
  font-size: initial;
}

.search svg {
  font-size: 2rem;
  color: rgb(128, 119, 106);
}

.iconShop svg {
  font-size: 2rem;
}

.iconShop h2 {
}

.lineaNegra {
  width: 76%;
  margin: auto;
  height: 1px;
  background-color: #3b2525;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.header.open .list {
  display: none;
}

.list figure {
  width: 17vw;
  height: 7vh;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.list figure:hover {
  text-decoration: underline;
}

.menu {
  height: 16vh;
}

.menuLinks {
  display: flex;
  height: 52%;
  justify-content: space-around;
  align-items: center;
}

.header.open .menu {
  display: none;
}

/*///////////////////////////////////////////////////////////// Products /////////////////////////////////////////////////////////////////*/
.contentProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16vh 7vw;
  gap: 3rem;
}

.products {
  width: 311px;
  margin-bottom: 4vh;
}

.productsImg {
  height: 52vh;
  margin-bottom: 2vw;
  overflow: hidden;
  border: 5px solid #272829;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.productsImg img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transform: scale(1.01);
}

.productsImg:hover img {
  transform: scale(1.2);
  transition: 1s;
}

.productsInfo {
}

.nameAdd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8vh;
  height: 7vh;
}

.nameAdd .icon {
  font-size: 3rem;
  cursor: pointer;
  color: #937272;
  background-color: transparent;
}

.nameAdd .icon:hover {
  color: #272829;
}

.descriPrice {
  height: 15vh;
  padding: 1vh 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descriPrice p {
  font-size: 2rem;
}
.descriPrice span {
  color: #937272;
}

.productsInfo h2,
.productsInfo h3 {
  margin-bottom: 0.7vh;
}

/*//////////////////////////////////////////////////////// ProducDetails ///////////////////////////////////////////*/

.productDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18vh 10vw;
  flex-wrap: wrap;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.detailsImg {
  width: 425px;
  margin: 1rem;
  border: solid 12px #232323;
}

.detailsImg img {
  width: 100%;
  height: 100%;
}

.detailsInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 23vw;
  margin: 1rem;
}

.detailsName h2 {
  font-size: 2.5rem;
}

.detailsName h2,
.detailsName p {
  margin-bottom: 4vh;
}

.detailsPriceIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.detailsPriceIcon h2 {
  font-size: 3rem;
}
.detailsPriceIcon svg {
  font-size: 5.5rem;
  color: #937272;
}

.similarProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similarProduct figure {
  margin: 0.2rem;
  height: 126px;
  width: 93px;
  text-align: center;
  overflow: hidden;
  border: solid 1px #7e7e7e6b;
}

.similarProduct img {
  height: 144px;
}

.similarProduct svg {
  width: 5vw;
  height: 6vh;
  border-radius: 9px;
  color: #937272;
}

.similarProduct svg:hover {
  transform: scale(1.4);
}

/*//////////////////////////////////////////////////////////////////////// Sidebar/////////////////////////////////////////*/

.Sidebar {
  display: none;
}

.Sidebar.open {
  background-color: #faf4e9;
  position: absolute;
  transition: 0.5s;
  display: block;
  border-radius: 23px;
  width: 40%;
  height: 88vh;
  top: 4rem;
  right: 23px;
  z-index: 2;
  overflow: hidden;
}

.shopping {
  color: white;
  display: flex;
  width: 100%;
  height: 12%;
  align-items: center;
  background-color: #5f6057;
  border-radius: 16px;
}

.shoppingIcon {
  font-size: 3rem;
  margin: 0 9rem 0 2rem;
}

.shoppingIcon svg {
  background-color: #888888;
  border-radius: 3px;
  padding: 2px;
}

.cartItems {
  height: 68%;
  overflow-y: auto;
  padding: 1rem;
  margin: 0rem;
  border: solid 1rem transparent;
  border-radius: 27px;
  display: flex;
  flex-direction: column;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin: 7px;
  height: 11vh;
  background-color: transparent;
  border-radius: 11px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.infoCart {
  height: 11vh;
  width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cartItem .infoCart svg {
  font-size: 2rem;
  background-color: #9cbcd7;
  border-radius: 5px;
}
.cartItem .infoCart svg:hover {
  background-color: #828282;
}

.remove {
  font-size: 3rem;
  margin: 0.2rem;
  background-color: #dad2d2;
  border-radius: 10px;
}

.remove:hover {
  background-color: #b24d4d;
}

.cartItem img {
  width: 80px;
}

.productNum {
  width: 13vw;
  display: flex;
  justify-content: space-evenly;
}

.totalPrice {
  text-decoration: underline;
  font-size: 1.5rem;
}

.total {
  height: 13%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5f6057;
  color: white;
  border-radius: 23px 20px 0px 0px;
}
.total h2 {
  font-size: 2.3rem;
  text-decoration: underline;
}
.total svg {
  font-size: 2rem;
  background-color: #b24d4d;
  padding: 10px;
  border-radius: 10px;
}

.total svg:hover {
  background-color: #828282;
}

@media (max-width: 850px) {
  .Sidebar.open {
    width: 100vw;
  }
}

/* footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2vw 8vw;
  font-size: 1.2rem;
  border-top: solid 2px #a7a49e;
}

.footer nav {
  margin: 2vh 3vw;
}

.contact-info {
  width: 28vw;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer h2,
.contact-info p,
.footer li,
.footer h3 {
  margin-bottom: 1.8vh;
}

.social-media svg {
  font-size: 2rem;
  margin-left: 12px;
}
