* {
  margin: 0;
  padding: 0;
}

/* header */
.header {
  width: 100vw;
  height: 20vh;
  background-color: bisque;
}

/* }home */
.home {
  width: 100vw;
  background-color: cadetblue;
}

/* Products */
.contentProducts {
  display: flex;
  flex-wrap: wrap;
}

.products {
  background-color: aqua;
  width: 13vw;
  height: 23vh;
}
